@font-face {
    font-family: "roboto";
    src: url(/fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: 'roboto-bold';
    src: url(/fonts/roboto-bold-webfont.woff);
}

@font-face {
    font-family: 'roboto-med';
    src: url(/fonts/Roboto-Medium.woff);
}

@font-face {
    font-family: "ken";
    src: url(/fonts/kohinoorzerone-one-webfont.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #0f0f0f;
    --text-cl: #000;
    --meta-color: #aaa;
    --channel-name-hover: white;
    --channel-title: #F1F1F1;
    --nav-fill: white;
    --search-container-bg: #121212;
    --pt-bg-colors: #282828;
    --search-border: 1px solid #2b2b2b;
    --category-hover: #4d4c4c;
    --notification-bg-color: #282828;
}

body::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 15px;
}

body::-webkit-scrollbar {
    background: none;
    width: .6em;
}

body {
    background: var(--bg-color);
    font-family: "roboto";
    height: 1000vh;
    overflow-x: hidden;

}

/* ===========
CENTRALIZE
=============== */
.central {
    margin: 0 auto;
    max-width: 2500px;
}

/* ============================
STICKY HEADER,CATEGORIES, ASIDE
=============================== */
.sticky {
    background: red;
    position: sticky;
    top: 0;
    background: var(--bg-color);
    z-index: 1;

}

/* ========================
NAV STYLES
============================= */
nav {
    display: flex;
    justify-content: space-between;
    padding: .48em .5em;
    align-items: center;
    margin-right: 2em;
    background: var(--bg-color);
}

nav svg {
    fill: var(--nav-fill);
}

.logo {
    cursor: pointer;
}

.search-container,
.left,
.middle,
.right {
    display: flex;
    align-items: center;
    gap: 0 1em;
}

.left {
    gap: 0 1.65em;
}

.menu-bars {
    transform: translateX(9px);
    cursor: pointer;
}

.search-container {
    /* background: red; */
    width: 37.5em;
    margin-left: 1.5em;
    gap: 0;
    position: relative;
}

.search-container input {
    padding: .6em 1em;
    width: 100%;
    background: var(--search-container-bg);
    border: var(--search-border);
    border-right: none;
    outline: none;
    font-size: 16px;
    border-radius: 30px 0 0 30px;
    font-family: "roboto";
    color: white;
    /* display: none; */
}

.pop-svg svg {
    transform: translatex(-7px);
    padding: 0;
}

.pop-svg {
    background: var(--search-container-bg);
    border: 1px solid #2b2b2b;
    position: absolute;
    left: -32px;
    visibility: hidden;
    padding: .45em 1.5em;
    border-radius: 30px 0 0 30px;
    padding-right: 0;
    border-right: none;


}

.notifications span,
.camera span,
.mic span,
.search-icon span {
    position: absolute;
    color: white;
    padding: .85em .6em;
    border-radius: 4px;
    background: #707070e3;
    font-size: 12px;
    left: 6px;
    top: 5em;
    visibility: hidden;
    opacity: 0;
}

.search-icon {
    background: var(--notification-bg-color);
    padding: .45em 1em;
    border-radius: 0 25px 25px 0;
    border: var(--search-border);
    cursor: pointer;
    position: relative;
}

.notifications:hover span,
.camera:hover span,
.mic:hover span,
.search-icon:hover span {
    visibility: visible;
    opacity: 1;
    transition: .4s;
    z-index: 3;
}

.notifications span {
    left: -1.5em;
}

.notifications {
    z-index: 2;
}

.camera span {
    left: -5px;
}

/* .search-container>.x-button-three+input, */
.search-container>input:focus {
    border: 1px solid rgb(98, 98, 243);
    border-radius: 0;
}

/* .search-container>.x-button-three+input+.pop-svg, */
.search-container>input:focus+.pop-svg {
    visibility: visible;
    border: 1px solid rgb(98, 98, 243);
    border-right: none;
}

.mic:hover {
    background: #474747ad;

}

.mic {
    background: var(--notification-bg-color);
    padding: .47em;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.mic span {
    width: 10em;
    left: -4em;
    top: 4.8em;
}

.menu-bars {
    padding: .47em .3em;
    border-radius: 50%;
    outline: .2px solid transparent;
}

.menu-bars:active {
    outline: .2px solid #ffffff;
}

.x-button:hover {
    background: #7371716f;

}

.x-button:active {
    background: #7070706f;

}

.x-button {
    position: absolute;
    right: 10%;
    border-radius: 50%;
    border: none;
    width: 1em;
    height: 1em;
    display: grid;
    place-content: center;
    cursor: pointer;
    font-family: 'ken';
    z-index: 1;
    font-size: 45px;
    color: white;
    background: none;
}

.x-button-two {
    display: none;
}

.menu-bars:hover {
    transition: .7s;
    background: var(--pt-bg-colors);
    padding: .47em .3em;
    border-radius: 50%;
}

.right {
    gap: 0 .8em;

}

.right .camera:hover,
.right .notifications:hover {
    background: var(--pt-bg-colors);

}

.camera {
    padding: .3em .2em;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-top: 4px;
    cursor: pointer;
    position: relative;
}


.camera-fill {
    display: none;
}

.camera-two-style {
    padding: .1em .2em;
    display: grid;
    place-content: center;

}

.camera-two-none {
    display: none;
}

.camera-two-hover {
    background: none;
}

.camera-two {
    display: none;
    fill: transparent;
}

/* 
============================
TEMPORARY CAMERA STYLES
============================ */
/* a:focus>.camera>div+div {
    visibility: visible;
}

a:focus>.camera>svg+div {
    visibility: visible;
}

a:focus>.camera>svg {
    visibility: hidden;
} */

.upload {
    position: absolute;
    background: var(--pt-bg-colors);
    min-width: max-content;
    color: white;
    border-radius: 7px;
    font-size: 14px;
    display: none;
    padding: .6em 0;
    top: 3.1em;
    z-index: 4;
}

.upload-two {
    display: block;
}

.fs {
    display: flex;
    padding: .5em 2.5em .5em 1.5em;
    align-items: center;
    gap: 0 1em;
}

.fs:hover {
    background: #3e3e3e;
}

/* =============
END
=============== */
.notifications {
    position: relative;
    padding: .45em .3em;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(-2px);
}

.notifications p {
    color: white;
    position: absolute;
    top: 3px;
    right: -5.5px;
    display: inline-block;
    padding: 0 4px;
    min-width: 8px;
    max-width: 18px;
    height: 16px;
    border: 1px solid #212121;
    border-radius: 22px;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    background: #c00;
}

.user {
    height: 32px;
    width: 32px;
    background: url(/images/me.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(5px);
}

/* =======================
CATEGORY BAR STYLES
========================== */
.categories {
    padding: .8em 0;
    padding-bottom: 0;
    /* align-items: center; */
    background: var(--bg-color);
    z-index: 1;
    max-width: 92%;
    display: flex;
    align-self: flex-end;

    position: relative;

}

.category-section {
    display: flex;
    overflow: scroll;
    max-width: 98%;
    align-self: flex-start;
    /* margin-left: -.5em; */
    /* margin-top: .8em; */
    scroll-behavior: smooth;
}


.category-section::-webkit-scrollbar-corner {
    display: none;
}

.category-section::-webkit-scrollbar {
    visibility: hidden;

}

.category {
    margin-right: .7rem;
    word-wrap: none;
    white-space: nowrap;
    color: var(--channel-title);
    border: none;
    border-radius: 10px;
    background-color: var(--pt-bg-colors);
    font-size: 14px;
    font-family: 'roboto-med';
    display: block;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: -.6px;
    padding: .49em .9em;
    /* transition: color .7s; */
}

.hover-cat:hover {
    background-color: var(--category-hover);
    transition: background-color 150ms;
}

.active-cat {
    background-color: #F1F1F1;
    color: black;
}

/* ====================
TEMPORARY  CATEGORYBAR SLIDE STYLES
======================== */
.push svg:hover {
    background: var(--pt-bg-colors);
}

.push svg {
    fill: var(--nav-fill);
    height: 100%;
    padding: .5em;
    border-radius: 50%;
    transform: translate(25px, 2px);
    cursor: pointer;
}

.push-two svg:hover {
    background: var(--pt-bg-colors);

}

.push-two svg {
    fill: var(--nav-fill);
    height: 100%;
    padding: .5em;
    border-radius: 50%;
    cursor: pointer;
    transform: rotateY(180deg) translate(17px,3px);

}

.push-two {
    place-content: center;
    display: grid;
    width: 4.5em;
    height: 85%;
    position: absolute;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--bg-color) 50%);
    left: 0;
    top: 0;
}
.display-arrow-left{
    display: none;
}
.push {
    place-content: center;
    display: grid;
    width: 4.5em;
    height: 85%;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--bg-color) 50%);
    right: 10px;
    top: 0;

}

.displayx {
    display: none;
}

.display-arrow-right{
    display: none;
}

/* =======================
END
========================*/
/* =====================================
FIRST ASIDE STYLES WITH FEW ELEMENTS 
======================================== */
.aside2 {
    color: white;
    font-size: 10px;
    float: left;
    /* background: red; */
    height: 1000vh;
    position: sticky;
    top: 6.2em;
    margin-right: 2em;
    margin-left: -.19em;
    display: none;
}

.left-aside {
    display: flex;
    flex-direction: column;
    gap: .4em 0;
    padding: .5em;
}

.hold:hover {
    background: var(--pt-bg-colors);

}

.hold {
    box-sizing: content-box;
    padding: 1.3em .15em;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5em 0;
    cursor: pointer;
}

.home-icon div {
    margin: 0 auto;
}

/* ====================================
MAIN ASIDE STYLES
======================================= */

.sidebar:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 15px;
    visibility: hidden;
}

.sidebar::-webkit-scrollbar-corner {
    display: none;
}

.sidebar::-webkit-scrollbar {
    background: none;
    width: .6em;
}

.second-nav {
    width: 93%;
    /* background: green; */
}

.aside-two {
    /* display: none; */
    background: var(--bg-color);
    color: var(--channel-name-hover);
    fill: white;
    float: left;
    height: 1000vh;
    margin-right: 1.7em;
    margin-top: -3.45em;
    max-width: 17.5%;
    position: relative;
}

.display {
    display: none;
}

.display-two {
    display: block;
}

.sidebar {
    height: 93vh;
    overflow: scroll;
    padding-top: 1em;
    padding: 12px;
    max-width: 17em;
    min-width: 10em;


}

.close-text p:nth-child(2) {
    padding-top: .2em;

}

.close-text p:last-child {
    font-size: 12px;
}

.close-text {
    display: flex;
    flex-flow: column;
}

.close-text p {
    padding: 12px 0px;
    padding-left: .6em;

}

.close-text p a {
    font-size: 13px;
    text-align: start;
    word-spacing: 5px;
    width: 100%;
    color: #aaa;
    /* background: red; */
    text-decoration: none;
}

.sml {
    color: #aaa;

}

.items p {
    margin-left: 1.3rem;
    font-size: 14px;
}

.items svg {
    margin-left: -.4rem;

}

.items {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 16px 8px 17px;
    cursor: pointer;
    gap: 0 .2em;
    /* margin-right: -.3rem; */
    /* margin-left: .5rem; */
}

.items:hover {
    background-color: #272727;
    border-radius: 8px;
}

.line {

    height: 1px;
    background-color: #4d4c4c;
    margin: .7rem;
    width: 210px;
    margin-left: -.05rem;
}



.active {
    background: #272727;
    padding-top: 7px;
    border-radius: 8px;
}


.headerr {
    transform: translateX(-.3em);
    font-size: 16px;
    font-family: 'roboto-med';
    font-weight: normal;
    margin-right: 10px;
}

.exc:hover {
    background: none;
    cursor: text;

}

/* ==================================
VIDEO SECTION STYLES
====================================== */
.video-section::-webkit-scrollbar {
    display: none;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em 1em;
    margin-right: 2em;
    height: 42em;
    overflow: hidden;
    padding-top: 1.35em;

}

.video-container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* background: red; */
    margin-bottom: 2em;
    color: white;
}





.thumbnail {
    position: relative;
    display: flex;
}

.thumbnail::before {
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 6px;
    bottom: 3px;
    color: white;
    content: attr(data-duration);
    font-size: 12px;
    padding: .2rem .3rem;
    font-family: "roboto-med";
    position: absolute;
    right: 5px;
}

.video-container:hover .thumbnail::before {

    background-color: transparent;
    color: transparent;
    transition: .3s;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* height: 100%; */
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}

.video-container:hover .thumbnail-image {
    border-radius: 0;
    transition: .6s;
}

/* =================================
 VIDEO BOTTOM  DETIALS SECTION
 ==================================== */
.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    position: relative;

}

.channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-color: #AAA;
}

.video-details {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.video-title {
    font-size: 16px;
    text-decoration: none;
    font-family: 'roboto-med';
    color: var(--channel-title);
    margin-bottom: 1em;
    width: 100%;

}

.video-channel-name:hover>span {
    visibility: visible;
    opacity: 1;
}

.hover-channel-name {
    background: #707070ce;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    left: -4px;
    opacity: 0;
    padding: .5em;
    position: absolute;
    top: -4.6em;
    transition: .2s;
    visibility: hidden;
    width: fit-content;

}

.name-section {
    align-items: center;
    color: #aaaaaa;
    display: flex;
    font-size: 14px;
    gap: .2em;
    line-height: 22px;
    margin-top: .4em;
    width: fit-content;
}

.video-channel-name:hover {
    color: var(--channel-name-hover);
}

.name-section .svgg {
    position: relative;
    cursor: pointer;
}

.svgg:hover .verified {
    visibility: visible;
    opacity: 1;
}

.name-section svg {
    transform: translateY(2.5px);
    fill: #aaaaaa;
}

.three-dot:active {
    outline: .2px solid #aaa;
    background: var(--category-hover);
    transition-delay: outline .1s;
}



.fa-ellipsis-vertical {
    font-family: 'ken';
    font-weight: 100;
    padding: 1.1em .3em;
    transform: translate(0,-1em);
    cursor: pointer;
    
}

.three-dot{
    /* background: red; */
height: 25px;
padding: .4em .6em;
padding-bottom: 0;
border-radius: 50%;
margin-top: .5em;
transform: translateY(4px);
outline: .2px solid transparent;
transition-duration: .8s;
position: relative;
}
.menu-pop{
    position: absolute;
    background: red;
    width: fit-content;
    white-space: nowrap;
    top: -1em;
    display: none;
}
.verified {
    background: #707070ce;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    left: -2em;
    opacity: 0;
    padding: .4em .8em;
    position: absolute;
    top: -4.4em;
    transition: .2s;
    visibility: hidden;
    white-space: nowrap;
}

.official {
    left: -4.5em;
}

.video-details-section {
    display: flex;
    justify-content: space-between;
}

.video-bottom-section {
    width: 100%;
}

.name-section a {
    color: inherit;
    position: relative;
    text-decoration: none;
}


.video-metadata {
    font-size: 14px;
    color: var(--meta-color);
}

.shorts-section {
    color: var(--channel-title);
    align-items: center;
    position: relative;


}

.shorts-head {
    margin-right: 2em;
    position: relative;
    display: flex;
    align-items: center;
    /* background: green; */
    justify-content: space-between;
    margin-bottom: 3em;
}

.left-shorts h3 {
    font-weight: normal;
    font-family: 'roboto-med';
}

.left-shorts {
    display: flex;
    font-size: 20px;
    gap: 0 .3em;
}

.right-shorts {
    font-size: 50px;
    /* padding: 0 .3em; */
    font-family: 'ken';
    font-weight: 100;
    display: grid;
    place-content: center;
}

.right-close {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.interest {
    /* visibility: visible; */
    /* opacity: 1; */
    top: .5em;
    right: 5em;
    position: absolute;
    background: red;
    width: fit-content;
    font-size: 12px;
    padding: 1em;
    background: #707070ce;
    border-radius: 4px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.right-close:hover {
    background: var(--category-hover);
}

.shorts-head>.right-close:hover+.interest {
    visibility: visible;
    opacity: 1;
}

.shorts-bottom-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em 1em;
    overflow: hidden;
    /* background: red; */
    border-bottom: 1px solid var(--category-hover);
    margin-right: 1em;
}

.overflow-shorts {
    overflow: hidden;
    height: 29em;

}

/* .contianer{
    min-width: 170px;
    max-width: 200px;
} */
.container-top-section {
    width: 100%;
}

.container-top-section img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: .8em;
}

.bot-shorts {
    display: flex;
    /* background: red; */
}

.shorts-meta-data {
    font-size: 14px;
    color: #aaaaaa;
    font-family: 'roboto-med';
}

.show-more:hover {
    background: var(--category-hover);
}

.show-more {
    position: absolute;
    bottom: -20px;

    left: 45%;
    font-size: 14px;
    background: var(--bg-color);
    padding: .7em 10em;
    border-radius: 30px;
    color: white;
    font-family: 'roboto-med';
    border: 1px solid var(--category-hover);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --channel-name-hover: #707070;
        --channel-title: #000;
        --nav-fill: #000;
        --search-container-bg: white;
        --pt-bg-colors: #e5e5e5;
        --basic-bg: #f2f2f2;
        --search-border: 1px solid #dbdbdb;
        --category-hover: #dbdbdb;
        --meta-color: #707070;
        --notification-bg-color: #f8f8f8;
    }

    .mic {
        background: var(--basic-bg);
    }

    .mic:hover {
        background: var(--category-hover);
    }

    .category {
        background: var(--basic-bg);
    }

    .active {
        background: var(--basic-bg);
    }

    .aside-two {
        fill: black;
        color: #000;
    }

    .items:hover {
        background: var(--basic-bg);
    }

    .menu-bars:hover {
        background: var(--basic-bg);
    }

    .search-container input {
        color: black;
        /* box-shadow: inset .3px 1px .2px .6px rgba(0, 0, 0, 0.055); */
        box-shadow: inset 0 1px 2px #eee;
    }

    .active-cat {
        background: black;
        color: white;
    }

    .hover-channel-name {
        background: #707070d5;
    }

    .close-text p {
        color: #606060;
    }

    .name-section,
    .name-section svg {
        fill: #707070;
        color: #707070;
    }

    .video-channel-name:hover {
        color: #313131;
    }

    .fa-ellipsis-vertical {
        color: black;
    }

    .exc:hover {
        background: none;
        cursor: text;
    }

    .aside2 svg {
        fill: black;
    }

    .aside2 {
        color: black;

    }

    .upload {
        color: black;
    }

    .fs:hover {
        background-color: var(--basic-bg);
    }

}