@font-face {
  font-family: "roboto";
  src: url(/fonts/Roboto-Regular.woff);
}

@font-face {
  font-family: 'roboto-bold';
  src: url(/fonts/roboto-bold-webfont.woff);
}

@font-face {
  font-family: 'roboto-med';
  src: url(/fonts/Roboto-Medium.woff);
}

@font-face {
  font-family: "ken";
  src: url(/fonts/kohinoorzerone-one-webfont.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
