$bg-color: #0f0f0f;
$text-cl: #000;
$meta-color: #aaa;
$channel-name-hover: white;
$channel-title: #F1F1F1;
$nav-fill: white;
$search-container-bg: #121212;
$pt-bg-colors: #282828;
$search-border: 1px solid #2b2b2b;
$category-hover: #4d4c4c;
$notification-bg-color: #282828;
$body-height:1000vh;
$central-width:2500px;
$mr:2em;
$normal-fs:16px;
$general-fontf:'roboto';
$active-sidebar:#272727;
$basic-bg: #f2f2f2;
